.Dmsans700 {
    font-family: 'Dmsans';
    font-weight: 700;

}
.Dmsans500 {
    font-family: 'Dmsans';
    font-weight: 500;
}
.Dmsans400 {
    font-family: 'Dmsans';
    font-weight: 400;
}
.Poppins700 {
    font-family: 'Poppins';
    font-weight: 700;
}
.Poppins400 {
    font-family: 'Poppins';
    font-weight: 400;
}
.Wemakeprice700 {
    font-family: 'Wemakeprice';
    font-weight: 700;
}
.Wemakeprice600 {
    font-family: 'Wemakeprice';
    font-weight: 600;
}
.GmarketSans500 {
    font-family: 'Poppins';
    font-weight: 700;
}
.GmarketSans300 {
    font-family: 'Poppins';
    font-weight: 700;
}
